.mobilesList {
  background-color: rgba(207, 207, 207, 0.164);;
}

.mobilesList__title {
  display: flex;
  justify-content: space-between;
  background-color: rgba(105, 102, 102, 0.575);
  box-shadow: 0 1px 3px rgba(40, 144, 241, 0.404);
  padding: 3px 50px;
}

.mobilesList__title {
  cursor: pointer;
}

.mobilesList h2 {
  color: rgba(222, 235, 247, 0.973);
  font-size: 32px;
}

.mobilesList__title img {
  transition: transform 500ms ease;
}

.mobilesList__title img:hover {
  transform: scale(1.07);
}

.mobileList__items {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
